.input-content {
    display: flex;
    height: 30%;
    width: 30%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
}

.time-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h5 {
    padding: 30px;
}

button {
    margin-bottom: 15px;
}

input {
    text-align: center;
}